<div id="lead" class="nav-custom">
    <div class="nav-container">
        <div class="nav-left">
               <img src="../assets/pet_logo.jpg" alt="">
               <a href="/"><h1 class="custom">Petro</h1></a>
         </div>
        <div class="nav-right">
           <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/leaderboards">Leaderboards</a></li>
               <li><a href="/photo-entries">Entries</a></li>
               <li><a id="logout" href="<%= signedIn.path %> "><%= signedIn.label %> </a></li>
           </ul>
        </div>
   </div>
</div>