<!--FOOTER-->
<footer>
    <div class="left-foot">
        <p class="copyright">Copyright © Petro. All rights reserved.</p>
        <p class="creator">Creator: Christopher Gacad</p>
    </div>
    <div class="right-foot">
        <span class="material-symbols-outlined">mail</span><p class="email">Gacadxtopher@gmail.com</p>
        <span class="material-symbols-outlined">call</span><p class="phone">0950-222-4251</p>
    </div>
</footer>