<!--FOOTER-->
<footer>
    <div class="left-foot">
        <p class="copyright">Copyright © Xylem. All rights reserved.</p>
        <p class="creator">Creator: Jaspher Xyke M Cortez</p>
    </div>
    <div class="right-foot">
        <span class="material-symbols-outlined">mail</span><p class="email">jasxyke23.jxc@gmail.com</p>
        <span class="material-symbols-outlined">call</span><p class="phone">09487834865</p>
    </div>
</footer>