<!--NAVIGATION BAR-->
<nav>
    <div class="nav-container">
            <div class="nav-left">
                <img src="/assets/pet_logo.jpg" alt="">
                <a href="/"><h1>Xylem</h1></a>
            </div>
    </div>