<!--NAVIGATION BAR-->
<nav>
    <div class="nav-container">
            <div class="nav-left">
                <img src="../assets/pet_logo.jpg" alt="">
                <a href="../src/index.html"><h1>Petro</h1></a>
            </div>
    </div>