<nav>
    <div class="nav-container">
         <div class="nav-left">
                <img src="../assets/pet_logo.jpg" alt="">
                <a href="/"><h1>Xylem</h1></a>
          </div>
         <div id="home"class="nav-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/photo-entries">Entries</a></li>
                <li><a href="/leaderboards">Rankings</a></li>
                <li><a id="login" href="/<%= signedIn.path %> "><%= signedIn.label %> </a></li>
            </ul>
         </div>
    </div>
     <div class="title">
        <h1>SHARE THE BEAUTY <br>OF NATURE</h1>
        <p>Xylem is a website that offers a platform <br>
           to nature lovers to compete and showcase<br> 
           their amazing nature shots.
        </p>
        <div class="btn-upload">
            <a href="/entries/upload"><button class="btn-home-up" type="button" style="cursor: pointer;">Upload Now!</button></a>
        </div>
     </div>
   </nav>