<nav>
    <div class="nav-container">
         <div class="nav-left">
                <img src="../assets/pet_logo.jpg" alt="">
                <a href="../src/index.html"><h1>Petro</h1></a>
          </div>
         <div class="nav-right">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Leaderboards</a></li>
                <li><a href="#">Entries</a></li>
                <li><a id="login" href="/login">Login</a></li>
            </ul>
         </div>
    </div>
     <div class="title">
        <h1>SHARE THE BEAUTY <br>OF YOUR PET</h1>
        <p>Petro is a website that offers a platform <br>
           to furparent and pet owners to compete and showcase<br> 
           their lovable pets by posting their photos.
        </p>
        <div class="btn-upload">
            <a href="/entries/upload"><button type="button" style="cursor: pointer;">Upload Now!</button></a>
        </div>
     </div>
   </nav>