<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <!--GOOGLE ICONS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
        <!--CUSTOM NAVBAR-->
        <div id="entry" class="nav-custom">
            <div class="nav-container">
                <div class="nav-left">
                       <img src="../../public/assets/pet_logo.jpg" alt="">
                       <a href="../src/index.html"><h1 class="custom">Petro</h1></a>
                 </div>
                <div class="nav-right">
                   <ul>
                       <li><a href="../html/index.html">Home</a></li>
                       <li><a href="../html/leaderboard.html">Leaderboards</a></li>
                       <li><a href="#entry">Entries</a></li>
                       <li><a id="logout" href="../src/login.html">Logout</a></li>
                   </ul>
                </div>
           </div>
        </div>

            <!--ENTRY 1-->
            <div class="gallery">
                <a href="../html/preview.html">
                  <img src="../../public/assets/featsample_01.jpg" alt="Cinque Terre" width="600" height="400">
                  <h3>loki the loyal dogloki the loyal dog</h3>
                  <p>Date posted: Feb 08, 2023</p>
                </a>
                    <div class="btn-entries">
                        <h4>@Tophergacad</h4>
                        <div class="btn-container">
                            <button type="button" class="entry-like" style="cursor: pointer;">
                                <span class="material-symbols-outlined">thumb_up</span>
                            </button>
                            <p>320</p>
                        </div>
                   </div>
               </div>

               <!--ENTRY 2-->
               <div class="gallery">
                <a href="../html/preview.html">
                  <img src="../../public/assets/featsample_01.jpg" alt="Cinque Terre" width="600" height="400">
                  <h3>loki the loyal dogloki the loyal dog</h3>
                  <p>Date posted: Feb 08, 2023</p>
                </a>
                    <div class="btn-entries">
                        <h4>@Username</h4>
                        <div class="btn-container">
                            <button type="button" class="entry-like" style="cursor: pointer;">
                                <span class="material-symbols-outlined">thumb_up</span>
                            </button>
                            <p>320</p>
                        </div>
                   </div>
               </div>

            <!--ENTRY 3-->
               <div class="gallery">
                <a href="../html/preview.html">
                  <img src="../../public/assets/featsample_01.jpg" alt="Cinque Terre" width="600" height="400">
                  <h3>loki the loyal dogloki the loyal dog</h3>
                  <p>Date posted: Feb 08, 2023</p>
                </a>
                    <div class="btn-entries">
                        <h4>@Username</h4>
                        <div class="btn-container">
                            <button type="button" class="entry-like" style="cursor: pointer;">
                                <span class="material-symbols-outlined">thumb_up</span>
                            </button>
                            <p>320</p>
                        </div>
                   </div>
               </div>

            <!--ENTRY 4-->
               <div class="gallery">
                <a href="../html/preview.html">
                  <img src="../../public/assets/featsample_01.jpg" alt="Cinque Terre" width="600" height="400">
                  <h3>Loki the loyal dog</h3>
                  <p>Date posted: Feb 08, 2023</p>
                </a>
                    <div class="btn-entries">
                        <h4>@Username</h4>
                        <div class="btn-container">
                            <button type="button" class="entry-like" style="cursor: pointer;">
                                <span class="material-symbols-outlined">thumb_up</span>
                            </button>
                            <p>320</p>
                        </div>
                   </div>
               </div>

               <div class="gallery">
                <a href="../html/preview.html">
                  <img src="../../public/assets/featsample_01.jpg" alt="Cinque Terre" width="600" height="400">
                  <h3>Loki the loyal dog</h3>
                  <p>Date posted: Feb 08, 2023</p>
                </a>
                    <div class="btn-entries">
                        <h4>@Username</h4>
                        <div class="btn-container">
                            <button type="button" class="entry-like" style="cursor: pointer;">
                                <span class="material-symbols-outlined">thumb_up</span>
                            </button>
                            <p>320</p>
                        </div>
                   </div>
               </div>

               <div class="gallery">
                <a href="../html/preview.html">
                  <img src="../../public/assets/featsample_01.jpg" alt="Cinque Terre" width="600" height="400">
                  <h3>Loki the loyal dog</h3>
                  <p>Date posted: Feb 08, 2023</p>
                </a>
                    <div class="btn-entries">
                        <h4>@Username</h4>
                        <div class="btn-container">
                            <button type="button" class="entry-like" style="cursor: pointer;">
                                <span class="material-symbols-outlined">thumb_up</span>
                            </button>
                            <p>320</p>
                        </div>
                   </div>
               </div>

               <div class="gallery">
                <a href="../html/preview.html">
                  <img src="../../public/assets/featsample_01.jpg" alt="Cinque Terre" width="600" height="400">
                  <h3>Loki the loyal dog</h3>
                  <p>Date posted: Feb 08, 2023</p>
                </a>
                    <div class="btn-entries">
                        <h4>@Username</h4>
                        <div class="btn-container">
                            <button type="button" class="entry-like" style="cursor: pointer;">
                                <span class="material-symbols-outlined">thumb_up</span>
                            </button>
                            <p>320</p>
                        </div>
                   </div>
               </div>

               <div class="gallery">
                <a href="../html/preview.html">
                  <img src="../../public/assets/featsample_01.jpg" alt="Cinque Terre" width="600" height="400">
                  <h3>Loki the loyal dog</h3>
                  <p>Date posted: Feb 08, 2023</p>
                </a>
                    <div class="btn-entries">
                        <h4>@Username</h4>
                        <div class="btn-container">
                            <button type="button" class="entry-like" style="cursor: pointer;">
                                <span class="material-symbols-outlined">thumb_up</span>
                            </button>
                            <p>320</p>
                        </div>
                   </div>
               </div>

            
               <!--FOOTER-->
               <footer>
                <div class="left-foot">
                    <p class="copyright">Copyright © Petro. All rights reserved.</p>
                    <p class="creator">Creator: Christopher Gacad</p>
                </div>
                <div class="right-foot">
                    <span class="material-symbols-outlined">mail</span><p class="email">Gacadxtopher@gmail.com</p>
                    <span class="material-symbols-outlined">call</span><p class="phone">0950-222-4251</p>
                </div>
           </footer>

              
       
           
           
            
           
          

                   
                             
                           
                         
</body>
</html>