<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>

    <!--STYLESHEET-->
    <link rel="stylesheet" href="../css/style.css">
    <!--GOOGLE ICONS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="lead-page-container">
        <div class="filter">
            <ul>
                <div class="fil-1"><li><a href="#">This Month</a></li></div>
                <div class="fil-2"><li><a href="#">Previous Month</a></li></div>
            </ul>
        </div>
        <!--LEADERBOARD-->
        <div class="lead-container">
            <div class="lead-title">
                <h2>Individual leaders - This Month</h2>
                <p>Likes - Overall</p>
            </div>

            <table>
                <tr>
                  <th class="rank-th"><span class="material-symbols-outlined">leaderboard</span>Ranking</th>
                  <th>Image Title</th>
                  <th>No. of Likes</th>
                </tr>
                <tr>
                  <td class="rank-spot"><a href="#"><span class="material-symbols-outlined">workspace_premium</span>Rank 1</a></td>
                  <td>Maria Anders</td>
                  <td>3000</td>
                </tr>
                <tr>
                  <td class="rank-spot"><span class="material-symbols-outlined">workspace_premium</span>Rank 2</td>
                  <td>Francisco Chang</td>
                  <td>3000</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Roland Mendel</td>
                  <td>3000</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Helen Bennett</td>
                  <td>3000</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Yoshi Tannamuri</td>
                  <td>3000</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Giovanni Rovelli</td>
                  <td>3000</td>
                </tr>
              </table>
        </div>
    </div>
   

</body>
</html>