<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>

    <!--STYLESHEET-->
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <!--GOOGLE ICONS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <div id="lead" class="nav-custom">
    <div class="nav-container">
        <div class="nav-left">
               <img src="../../public/assets/pet_logo.jpg" alt="">
               <a href="../html/index.html"><h1 class="custom">Petro</h1></a>
         </div>
        <div class="nav-right">
           <ul>
               <li><a href="../html/index.html">Home</a></li>
               <li><a href="#lead">Leaderboards</a></li>
               <li><a href="../html/entry.html">Entries</a></li>
               <li><a id="logout" href="../src/login.html">Logout</a></li>
           </ul>
        </div>
   </div>
</div>
    <div class="lead-page-container">
        <div class="filter">
            <ul>
                <div class="fil-1"><li><a href="#">This Month</a></li></div>
                <div class="fil-2"><li><a href="#">Previous Month</a></li></div>
            </ul>
        </div>
        <!--LEADERBOARD-->
        <div class="lead-container">
            <div class="lead-title">
                <h2>Individual leaders - This Month</h2>
                <p>Likes - Overall</p>
            </div>

            <table>
                <tr>
                  <th class="rank-th"><span class="material-symbols-outlined">leaderboard</span>Ranking</th>
                  <th>Uploader</th>
                  <th>Image Title</th>
                  <th>No. of Likes</th>
                </tr>
                <tr>
                  <td class="rank-spot"><a href="#"><span class="material-symbols-outlined">workspace_premium</span>Rank 1</a></td>
                  <td class="rank-user"><a href="#">Maria Anders</a></td> 
                  <td class="rank-img"><a href="#">The pet dog dog dog dig dig</a></td>  
                  <td>3000</td>
                </tr>

                <tr>
                  <td class="rank-spot"><a href="#"><span class="material-symbols-outlined">workspace_premium</span>Rank 1</a></td>
                  <td class="rank-user"><a href="#">Maria Anders</a></td> 
                  <td class="rank-img"><a href="#">The pet dog dog dog dig dig</a></td>  
                  <td>3000</td>
                </tr>
                <tr>
                  <td class="rank-spot"><a href="#"><span class="material-symbols-outlined">workspace_premium</span>Rank 1</a></td>
                  <td class="rank-user"><a href="#">Maria Anders</a></td> 
                  <td class="rank-img"><a href="#">The pet dog dog dog dig dig</a></td>  
                  <td>3000</td>
                </tr>
                <tr>
                  <td class="rank-spot"><a href="#"><span class="material-symbols-outlined">workspace_premium</span>Rank 1</a></td>
                  <td class="rank-user"><a href="#">Maria Anders</a></td> 
                  <td class="rank-img"><a href="#">The pet dog dog dog dig dig</a></td>  
                  <td>3000</td>
                </tr>
                <tr>
                  <td class="rank-spot"><a href="#"><span class="material-symbols-outlined">workspace_premium</span>Rank 1</a></td>
                  <td class="rank-user"><a href="#">Maria Anders</a></td> 
                  <td class="rank-img"><a href="#">The pet dog dog dog dig dig</a></td>  
                  <td>3000</td>
                </tr>
                <tr>
                  <td class="rank-spot"><a href="#"><span class="material-symbols-outlined">workspace_premium</span>Rank 1</a></td>
                  <td class="rank-user"><a href="#">Maria Anders</a></td> 
                  <td class="rank-img"><a href="#">The pet dog dog dog dig dig</a></td>  
                  <td>3000</td>
                </tr>
                <tr>
                  <td class="rank-spot"><a href="#"><span class="material-symbols-outlined">workspace_premium</span>Rank 1</a></td>
                  <td class="rank-user"><a href="#">Maria Anders</a></td> 
                  <td class="rank-img"><a href="#">The pet dog dog dog dig dig</a></td>  
                  <td>3000</td>
                </tr>
                <tr>
                  <td class="rank-spot"><a href="#"><span class="material-symbols-outlined">workspace_premium</span>Rank 1</a></td>
                  <td class="rank-user"><a href="#">Maria Anders</a></td> 
                  <td class="rank-img"><a href="#">The pet dog dog dog dig dig</a></td>  
                  <td>3000</td>
                </tr>
                <tr>
                  <td class="rank-spot"><a href="#"><span class="material-symbols-outlined">workspace_premium</span>Rank 1</a></td>
                  <td class="rank-user"><a href="#">Maria Anders</a></td> 
                  <td class="rank-img"><a href="#">The pet dog dog dog dig dig</a></td>  
                  <td>3000</td>
                </tr>
                <tr>
                  <td class="rank-spot"><a href="#"><span class="material-symbols-outlined">workspace_premium</span>Rank 1</a></td>
                  <td class="rank-user"><a href="#">Maria Anders</a></td> 
                  <td class="rank-img"><a href="#">The pet dog dog dog dig dig</a></td>  
                  <td>3000</td>
                </tr>  
              </table>
        </div>
    </div>
    
   

</body>
</html>