<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <!--GOOGLE ICONS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="prev-container">
        <!--CUSTOM NAVIGATION-->
        <div id="entry" class="nav-custom">
            <div class="nav-container">
                <div class="nav-left">
                       <img src="../../public/assets/pet_logo.jpg" alt="">
                       <a href="../src/index.html"><h1 class="custom">Petro</h1></a>
                 </div>
                <div class="nav-right">
                   <ul>
                       <li><a href="../html/index.html">Home</a></li>
                       <li><a href="../html/leaderboard.html">Leaderboards</a></li>
                       <li><a href="#entry">Entries</a></li>
                       <li><a id="logout" href="../src/login.html">Logout</a></li>
                   </ul>
                </div>
           </div>
        </div>

        <!--PREVIEW IMAGE-->

        <div class="prev-card">
            <div class="left-prev">
                <a href="../../public/assets/featsample_01.jpg" target="_blank">
                    <img src="../../public/assets/featsample_01.jpg" alt="" 
                    style="width: 500px; 
                           height: 500px;
                           border-radius: 5px;">
                </a>
            </div>
            <div class="right-prev">
                <div class="top-section">
                    <div class="top-1">
                        <h1>TITLE HERE</h1>
                        <div class="top-1-right">
                            <span class="material-symbols-outlined"> military_tech</span>
                            <h4>RANK 03</h4>
                        </div>
                    </div>
                    <div class="top-2">
                        <span class="material-symbols-outlined">person</span>
                        <h3>@Username</h3>
                    </div>
                </div>
                <div class="content-section">This is my pet dog loki his is my pet dog lok his is my pet dog lok his is my pet dog lok 
                    his is my pet dog lok his is my pet dog lok his is my pet dog lok
                    his is my pet dog lok his is my pet dog lok his is my pet dog lok
                    his is my pet dog lok his is my pet dog lok his is my pet dog lok
                    <p></p>
                </div>
                <div class="bot-section">
                    <button type="button" class="prev-like" style="cursor: pointer;">
                        <span class="material-symbols-outlined">thumb_up</span>
                    </button>
                    <p>320</p>
                </div>
            </div>
        </div>


    </div>


</body>
</html>