<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Entries"});  %> 
</head>
<body>
       <%- include('../partials/base-nav', {signedIn, signedIn}); %> 
        <div id="entries-container">
            
        </div>
                                    
        <%- include('../partials/footer'); %>    
</body>
</html>