<!DOCTYPE html>
<html lang="en">
<head>
    <title>Retro</title>
    <%- include('../partials/head', {title: 'Retro'});%>
</head>

<body>
    <!--NAVIGATION SECTION-->
    <%- include('../partials/head')%>

    <!--FEATURED CONTENT SECTION-->
   <header>
        <div class="head-left">
            <h3>| Featured Pets</h3>
        </div>
        <div class="head-right">
            <a href="#">View More<span class="material-symbols-outlined">arrow_forward</span></a>           
        </div>
   </header>
   <div class="featured-con">
    <!--CARD SECTION-->

         <!--CARD 1-->
        <div class="card-1">
            <div class="left-card" style="
                background-image: url(../assets/featsample_01.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;">
            </div>
            <div class="right-card">
                <div class="card-container">
                    <div class="card-head">
                        <h1 class="post-title">Loki the loyal dog</h1>
                        <div class="card-head-right">
                            <span class="material-symbols-outlined"> military_tech</span>
                            <h4 class="post-rank">RANK 01</h4>
                        </div>
                    </div>
                    <div class="user-container">
                        <span class="material-symbols-outlined">person</span>
                        <h4 class="post-username">@Tophergacad</h4>
                    </div>
                    <p class="post-desc">This is my pet dog loki his is my pet dog lok his is my pet dog lok his is my pet dog lok 
                                         his is my pet dog lok his is my pet dog lok his is my pet dog lok
                                         his is my pet dog lok his is my pet dog lok his is my pet dog lok
                                         his is my pet dog lok his is my pet dog lok his is my pet dog lok
                                         his is my pet dog lok his is my pet dog lok his is my pet dog lok</p>
                </div>
                <div class="card-footer">
                    <button class="btn-like" style="cursor: pointer;">Like Photo</button>
                    <div class="count-container">
                        <span class="material-symbols-outlined">thumb_up</span>
                        <h3 class="like-counter">320</h3>
                    </div>
                </div>
            </div>
        </div>

            <!--CARD 2-->
        <div class="card-2">
            <div class="left-card" style="
                background-image:url(../assets/featsample_02.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;">
            </div>
            <div class="right-card">
                <div class="card-container">
                    <div class="card-head">
                        <h1 class="post-title">Pussy Cat</h1>
                        <div class="card-head-right">
                            <span class="material-symbols-outlined"> military_tech</span>
                            <h4 class="post-rank">RANK 02</h4>
                        </div>
                    </div>
                    <div class="user-container">
                        <span class="material-symbols-outlined">person</span>
                        <h4 class="post-username">@JaspherCortez</h4>
                    </div>
                    <p class="post-desc">This is my pet dog loki his is my pet dog lok his is my pet dog lok his is my pet dog lok 
                                         his is my pet dog lok his is my pet dog lok his is my pet dog lok
                                         his is my pet dog lok his is my pet dog lok his is my pet dog lok
                                         his is my pet dog lok his is my pet dog lok his is my pet dog lok
                                         his is my pet dog lok his is my pet dog lok his is my pet dog lok
                                         his is my pet dog lok his is my pet dog lok his is my pet dog lok
                                        </p>
                </div>
                <div class="card-footer">
                    <button class="btn-like" style="cursor: pointer;">Like Photo</button>
                    <div class="count-container">
                        <span class="material-symbols-outlined">thumb_up</span>
                        <h3 class="like-counter">320</h3>
                    </div>
                </div>
            </div>
        </div>

            <!--CARD 3-->
        <div class="card-3">
            <div class="left-card" style="
                background-image: url(../assets/featsample_03.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;">
            </div>
            <div class="right-card">
                <div class="card-container">
                    <div class="card-head">
                        <h1 class="post-title">Green Parrot</h1>
                        <div class="card-head-right">
                            <span class="material-symbols-outlined"> military_tech</span>
                            <h4 class="post-rank">RANK 03</h4>
                        </div>
                    </div>
                    <div class="user-container">
                        <span class="material-symbols-outlined">person</span>
                        <h4 class="post-username">@UltDaz</h4>
                    </div>
                    <p class="post-desc">This is my pet dog loki his is my pet dog lok his is my pet dog lok his is my pet dog lok 
                                         his is my pet dog lok his is my pet dog lok his is my pet dog lok
                                         his is my pet dog lok his is my pet dog lok his is my pet dog lok
                                         his is my pet dog lok his is my pet dog lok his is my pet dog lok
                                         his is my pet dog lok his is my pet dog lok his is my pet dog lok</p>
                </div>
                <div class="card-footer">
                    <button class="btn-like" style="cursor: pointer;">Like Photo</button>
                    <div class="count-container">
                        <span class="material-symbols-outlined">thumb_up</span>
                        <h3 class="like-counter">320</h3>
                    </div>
                </div>
            </div>
        </div>
   </div>

   <!--FOOTER-->
   <footer>
        <div class="left-foot">
            <p class="copyright">Copyright © Petro. All rights reserved.</p>
            <p class="creator">Creator: Christopher Gacad</p>
        </div>
        <div class="right-foot">
            <span class="material-symbols-outlined">mail</span><p class="email">Gacadxtopher@gmail.com</p>
            <span class="material-symbols-outlined">call</span><p class="phone">0950-222-4251</p>
        </div>
   </footer>

</body>
</html>