<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: 'Leaderboards'}); %> 
</head>

<body>
  <%- include('../partials/base-nav', {signedIn: signedIn}); %> 
    <div class="lead-page-container">
        <div class="filter">
            <ul>
                <button class="fil-1 lb-month-btn" onclick="getCurrentLeaderboards()"><li><a>This Month</a></li></button>
                <button class="fil-2 lb-month-btn" onclick="getPrevLeaderboards()"><li><a>Previous Month</a</li></button>
            </ul>
        </div>
        <!--LEADERBOARD-->
        <div class="lead-container">
            <div class="lead-title">
                <h2>Individual leaders - This Month</h2>
                <p>Likes - Overall</p>
            </div>

            <table id="lboard-table">
              <!--
                <tr>
                <th class="rank-th"><span class="material-symbols-outlined">leaderboard</span>Ranking</th>
                <th class="tb-header">Uploader</th>
                <th class="tb-header">Image Title</th>
                <th class="tb-header">No. of Likes</th>
              </tr>
              -->
              <!--
                <tr>
                <td class="rank-spot"><a href="#"><span class="material-symbols-outlined">workspace_premium</span>Rank 1</a></td>
                <td class="rank-user"><a href="#">Maria Anders</a></td> 
                <td class="rank-img"><a href="#">The pet dog dog dog dig dig</a></td>  
                <td>3000</td>
              </tr>
              -->
            </table>
        </div>
    </div>
   <%- include('../partials/footer'); %> 
   <script src="/javascripts/lboards-fetcher.js"></script>
</body>


</html>