<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "PETRO | Login"}); %> 
</head>
<body>

    <%- include('../partials/logo-nav'); %> 

        <!--LOGIN FORM-->
        <div class="login-wrapper">
            <section class="signup-form">
                <div class="title">
                    <h3>LOGIN</h3>
                </div>
                <!--FIELDS-->
                <form action="/auth" method="post">
                    <div class="name-details">
                        <div class="field">
                            <label for="username">Username</label>
                            <input id="username" name="username" type="text" placeholder="Enter valid username " required autofocus>
                        </div>
                        <div class="field">
                            <label for="password" >Password</label>
                            <input id="password" name="password" type="password" placeholder="Enter your password" required>
                        </div>
                        <div class="button">
                            <input type="submit" value="Login">
                        </div>
                    </div>
                </form>
                    <div class="link"><p>Don't Have an Account? <a href="/sign-up">Sing-up now</a></div>
                    <div class="credits">&#169; Petro2023</div>
            </section>
        </div>
       </nav>
    </div>
</body>
</html>