<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: 'PETRO | Sign up'})  %> 
</head>
<body>

    <%- include('../partials/logo-nav'); %> 

        <!--SIGNUP FORM-->
        <div class="wrapper">
            <section class="signup-form">
                <div class="title">
                    <h3>SIGN UP</h3>
                </div>
                <!--DETAIL FIELDS-->
                <form action="/add-user" method="post">
                    <div class="name-details">
                        <div class="field">
                            <label for="fistname">First Name</label>
                            <input id="fistname" name="" type="text" placeholder="Enter your first name" required autofocus>
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input type="text" placeholder="Enter your last name" required>
                        </div>
                        <div class="field">
                            <label>Username</label>
                            <input type="text" placeholder="maximum of 15 characters" required>
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input type="password" placeholder="Enter your password" required>
                        </div>
                        <div class="button">
                            <input type="submit" value="Sign Up">
                        </div>
                    </div>
                </form>
                    <div class="link"><p>Already Signed-in? <a href="../src/login.html">Login now</a></div>
                    <div class="credits">&#169; Petro2023</div>
            </section>
        </div>
       </nav>
    </div>
</body>
</html>