<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: 'Upload your entry'});%> 
</head>
<body>
        <%- include('../partials/logo-nav'); %> 
        <!--UPLOAD FORM-->
        <div class="upload-wrapper">
            <section class="signup-form">
                <div class="title">
                    <h3>UPLOAD YOUR ENTRY</h3>
                </div>
                <!--ENTRY DESCRIPTION SECTION-->
                <form action="add-entry" method="post" enctype="multipart/form-data">
                    <!--IMAGE UPLOAD SECTION-->
                <div class="img-upload">
                    File name: <input class="btn-up" type="file" name="img" accept=".png, .jpg, .jpeg" required>
                </div>
                    <div class="name-details">
                        <div class="field">
                            <label for="title">Title</label>
                            <input id="title" name="title" type="text" placeholder="Enter your title here." required autofocus>
                        </div>
                        <div class="field">
                            <textarea minlenght="100" maxlength="350" 
                            name="desc" id="desc" cols="30" rows="7" placeholder="Description must be min of 100 and max 350 characters." required></textarea>
                        </div>
                        <div class="button">
                            <input type="submit" value="POST">
                        </div>
                    </div>
                </form>
                    <div class="credits">&#169; Xylem 2023</div>
            </section>
        </div>
       </nav>
    </div>
</body>
</html>