<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="../css/style.css">
    <!--GOOGLE ICONS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
        <!--NAVIGATION BAR-->
    <nav>
        <div class="nav-container">
             <div class="nav-left">
                    <img src="../assets/pet_logo.jpg" alt="">
                    <a href="../src/index.html"><h1>Petro</h1></a>
              </div>
        </div>

        <!--UPLOAD FORM-->
        <div class="upload-wrapper">
            <section class="signup-form">
                <div class="title">
                    <h3>UPLOAD YOUR ENTRY</h3>
                </div>

                <!--IMAGE UPLOAD SECTION-->
                <div class="img-upload">
                    <form method="post" enctype="multipart/form-data">
                        File name: <input class="btn-up" type="file" name="imgfile" accept=".png, .jpg, .jpeg" required>
                        <input class="btn-sub" type="submit" name="submit" value="Upload" style="cursor: pointer;">
                    </form>
                </div>

                <!--ENTRY DESCRIPTION SECTION-->
                <form action="#">
                    <div class="name-details">
                        <div class="field">
                            <label>Title</label>
                            <input type="text" placeholder="Enter your title here." required autofocus>
                        </div>
                        <div class="field">
                            <textarea minlenght="100" maxlength="350" 
                            name="" id="" cols="30" rows="7" placeholder="Short description must be min of 100 and max 350 characters." required></textarea>
                        </div>
                        <div class="button">
                            <input type="submit" value="POST">
                        </div>
                    </div>
                </form>
                    <div class="credits">&#169; Petro2023</div>
            </section>
        </div>
       </nav>
    </div>
</body>
</html>