<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: 'Upload your entry'});%> 
</head>
<body>
        <!--NAVIGATION BAR-->
    <nav>
        <div class="nav-container">
             <div class="nav-left">
                    <img src="../assets/pet_logo.jpg" alt="">
                    <a href="/"><h1>Petro</h1></a>
              </div>
        </div>

        <!--UPLOAD FORM-->
        <div class="upload-wrapper">
            <section class="signup-form">
                <div class="title">
                    <h3>UPLOAD YOUR ENTRY</h3>
                </div>
                <!--ENTRY DESCRIPTION SECTION-->
                <form action="entries/add-entry" method="post" enctype="multipart/form-data">
                    <!--IMAGE UPLOAD SECTION-->
                <div class="img-upload">
                    File name: <input class="btn-up" type="file" name="imgfile" accept=".png, .jpg, .jpeg" required>
                </div>
                    <div class="name-details">
                        <div class="field">
                            <label>Title</label>
                            <input type="text" placeholder="Enter your title here." required autofocus>
                        </div>
                        <div class="field">
                            <textarea minlenght="100" maxlength="350" 
                            name="" id="" cols="30" rows="7" placeholder="Short description must be min of 100 and max 350 characters." required></textarea>
                        </div>
                        <div class="button">
                            <input type="submit" value="POST">
                        </div>
                    </div>
                </form>
                    <div class="credits">&#169; Petro2023</div>
            </section>
        </div>
       </nav>
    </div>
</body>
</html>